body{
    height: 100vh;
    width: 100vw;

    background-image: url(../images/wood.jpg);

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0px;
    padding: 0px;

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

/*Indice*/

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tittle{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 2em;
    width: 7.5em;

    color: white;

    -webkit-text-stroke: 2px black;

    font-weight: bold;

    text-decoration: underline white;

    font-size: 7em;

    cursor: default;
}

.btns-menu{
    width: 25em;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-menu{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 1em;
    width: 12em;

    font-size: 3em;

    padding: 0.25em;

    color: black;
    margin-left: 1em;
    margin-right: 1em;

    background-color: white;

    border-radius: 20% 20% 20% 20%;

    filter: drop-shadow( 25px 0px 20px black);

    cursor: pointer;
}

a{
    color: black;
    text-decoration: none;
}

.btn-menu:hover{
    transition: 0.5s;
    font-size: 3.25em;
}

/*help*/


/*name*/

.section-tittle{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 2em;
    width: 15em;

    color: white;

    -webkit-text-stroke: 1.75px black;

    font-weight: bold;

    text-decoration: underline white;

    font-size: 4em;

    cursor: default;
}

.name-input{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 2em;
}

.user-name{
    height: 2em;
    width: 25em;

    font-size: 2em;

    text-align: center;

    font-weight: bold;

    border: 0.1em solid black;
}

.name-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 1em;
    width: 5.5em;

    font-size: 1.5em;

    padding: 0.25em;

    color: black;
    margin-left: 1em;
    margin-right: 1em;

    background-color: white;

    border-radius: 20% 20% 20% 20%;

    filter: drop-shadow( 25px 0px 20px black);

    cursor: pointer;
}

.btn:hover{
    transition: 0.5s;
    font-size: 2em;
}

/*color*/
.colors{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.colors-container{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 2.5em;
}

.color-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-right: 3em;
}

.color{
    height: 10em;
    width: 10em;

    border-radius: 100% 100% 100% 100%;

    background-color: white;

    margin-bottom: 3em;
}

.select-color{
    height: 3em;
    width: 4.5em;
}

/*board*/
.board-div{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 95vh;
    width: 95vw;

    border: 0.25em solid white;

    border-radius: 5% 5% 5% 5%;
}

.container-board-color{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 95vh;
    width: 33.3vw;
}

.board-color{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 20em;
    width: 20em;

    border-radius: 5% 5% 5% 5%;

    
}

.board-color-row1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 20em;
    width: 20em;
}

.board-color-row2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 20em;
    width: 20em;
}

.board-color-color0{
    background-color: green;

    height: 10em;
    width: 10em;

    border-radius: 25% 0% 0% 0%;

    border: 0.25em solid black;
}

.board-color-color1{
    background-color: blue;

    height: 10em;
    width: 10em;

    border-radius: 0% 0% 0% 25%;
    border: 0.25em solid black;
}

.board-color-color2{
    background-color: red;

    height: 10em;
    width: 10em;

    border-radius: 0% 25% 0% 0%;
    border: 0.25em solid black;
}

.board-color-color3{
    background-color: purple;

    height: 10em;
    width: 10em;

    border-radius: 0% 0% 25% 0%;
    border: 0.25em solid black;
}

.container-board{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 95vh;
    width: 33.3vw;
}

.board{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 40em;
    width: 30em;

    background-color: darkblue;

    border-radius: 5% 5% 5% 5%;

    border: 0.25em solid black;
}

.board-row{
    display: flex;
    justify-content: left;
    align-items: center;

 

    height: 4em;
    width: 30em;
    
    
}

.board-cell{
    display: flex;
    justify-content: center;
    align-items: center;

 

    height: 4em;
    width: 20em;
}

.cell{
    border-radius: 100% 100% 100% 100%;

    height: 3.5em;
    width: 3.5em;

    background-color: whitesmoke;

    margin-right: 1em;

    border: 2.5px solid black;
}

.board-check{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4em;
    width: 10em;
}

.check{
    background-color: whitesmoke;

    border-radius: 100% 100% 100% 100%;

    height: 1.75em;
    width: 1.75em;

    margin-right: 0.5em;

    border: 2px solid black;
}

.container-board-btn{
    display: flex;
    justify-content: left;
    align-items: center;
    
    height: 95vh;
    width: 33.3vw;
}

.board-btn{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    
    height: 20em;
    width: 20em;
}

.btn-board-setting{
    margin-bottom: 2em;
}

.cell:hover{
    cursor: pointer;
}

.board-pointer{
    cursor: pointer;
}

.levels{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.level{
    display: flex;
    justify-content: center;
    align-items: center;
}

.level-select{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 2.5em;
    width: 12em;

    font-size: 2em;

    padding: 0.25em;

    color: black;
    margin-left: 1em;
    margin-right: 1em;

    background-color: white;

    border-radius: 20% 20% 20% 20%;

    filter: drop-shadow( 25px 0px 20px black);

    margin-top: 1em;
    margin-bottom: 2em;

    cursor: pointer;
}

.level-select:hover{
    transition: 0.5s;
    font-size: 2.5em;
}

.board-advanced{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 25em;
    width: 30em;

    background-color: darkblue;

    border-radius: 5% 5% 5% 5%;

    border: 0.25em solid black;
}

.board-mm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 18em;
    width: 30em;

    background-color: darkblue;

    border-radius: 5% 5% 5% 5%;

    border: 0.25em solid black;
}

.help{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.help-secctions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-secction{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    height: 30em;
    width: 25em;

    border-radius: 5% 5% 5% 5%;

    border: 0.25em solid white;

    margin: 0em 1em 1.5em 1em;

    background-color: black;
}

.help-tittle{
    font-size: 2em;

    color: white;

    text-decoration: underline;

    margin-top: 0.25em;
}

.help-text{
    font-size: 1.2em;

    color: whitesmoke;

    -webkit-text-stroke: 0.02em white;

    margin: 0em 0.5em 0.7em 0.5em;
}